@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html{
    width:100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    background: -webkit-linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
    background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
    background: rgb(12, 12, 12);
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.container {
    position:fixed;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.title {
    font-weight: 800;
    color: transparent;
    font-size:14vh;
    line-height: 13vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #a250c8 46%, #FFCC70 100%);
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
    /* letter-spacing: -8px; */
    width: -moz-fit-content;
    width: fit-content;
    margin:0 auto;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title2 {
    font-size: 10vh;
    color: transparent;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #a250c8 100%);
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    text-align:center;
    letter-spacing: -0.2vw;
    padding: 0px 10px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container div {
    width: 100vw;
}
.container button {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid #EAB083;
    color: #EAB083;
    background: none;
    margin-left: calc(50% - 25px) !important;
    margin-top: 100px;
    font-size: 40px;
    transition: all 0.2s;
}
.container button:hover {
    margin-top: 110px;
    transition: all 0.2s;
    cursor: pointer;
    border-color: #4158D0;
    color: #4158D0;
}
.container button i {
    margin-left: -9px;
    margin-top: -19.5px; 
    position: fixed;
}

#backgroundText {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 3rem;
    position: fixed;
    margin-top: -10px;
    top: 0;
    left: 0;
    bottom: 0;
    font-weight: strong;     
    color: #1a1a1a;
    z-index: 0 !important; /* Change back */
}
#backgroundText h1 {
    margin: 0;
    white-space: nowrap;
    font-size: 14vh;
    width: 200%;
    overflow-x: hidden !important;
    transition: all 0.3s ease;
}
main canvas {
    z-index: -1 !important;
}

#backgroundText h1 span {
    margin-right: 40px;
}

#mainContent {
    display: block;
    width: 80%;
    min-width: 800px;
    max-width: 1280px;
    z-index: -1 !important;
    height: 100vh;
    left: 0;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(155, 154, 203);
    


    /* transition: all 4.4s; */
}

#mainContent h4 {
    color: #9996a5;
    text-align: center;
    margin: 30px;
    /* margin-left: 5px; */
}


/* Project grid */
.row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
    /* max-width: 1920px; */
    /* margin: 0 auto; */
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
}

.column div {
    margin-top: 8px;
    border-radius: 10px;
    vertical-align: middle;
    background: rgba(20, 20, 20);
    border: 1px solid rgba(20, 20, 20);
    padding: 20px;
    color: #d3cee6;
    text-align: left;
    font-size: 17px;
    transition: all 0.3s;
}

.column div:hover {
    cursor: pointer;
    background: #1e1e21;
}

.column div.selected {
    border: 1px solid #5357C8;
}

.column > div > img {
    height: 60px;
    position: absolute;
}

.column > div > h2, .column > div > p {
    margin: 0px;
    margin-left: 70px;
    margin-bottom: 5px;
}

/* Project list cards */
.projectsList {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    text-align: left;
}

div.projectsList > div > div:nth-child(2) > img {
    border-radius: 5px;
    width: 100%;
    /* margin: 0 auto; */
    /* height: 300px; */
    margin-top: 10px;
}

.projectsList > div {
    background: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    color: #d3cee6;
}

.projectsList div > div {
    display: block;
    margin-top: -10px;
    padding: 0px;
    flex: 50%;
}

.projectsList div > div:nth-child(1) {
    padding-right: 20px;
}

.projectsList a img {
    width: 40px;
}

.projectsList p a {
    text-decoration: none;
    color: #5753C6;
}

.projectsList .links {
    height: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}


@media (max-width: 1200px) {
    #mainContent {
        width: 95%;
    }

    .title2 {
        font-size: 7vh;
    }
}

@media (max-width: 1000px) {
    

    .projectsList > div {
        flex-direction: column;
    }

    .projectsList h2 {
        margin-top: 7px;
    }
    
    .projectsList div > div:nth-child(1) {
        padding-right: 0px;
    }
    
    .projectsList a img {
        width: 35px;
        /* margin-right: 0px; */
    }

    .projectsList .links{
        text-align: right;
        /* border: 1px solid gray; */
        height: 35px;
        position: absolute;
        display: block;
        top: 0px;
        right: 0px;
        margin-top: 20px;
        margin-right: 12px;
    }
    
}


@media (max-width: 900px) {
    #mainContent {
        min-width: 0px;
        max-width: 100%;
    }

    .row {
        width: 100%;

    }
    
    .column {
        display: block;
        width: 100%;
        min-width: 94vw !important;
        padding: 0 4px;
    }
    
    .column div {
        margin-top: 8px;
        border-radius: 10px;
        vertical-align: middle;
        background: rgba(20, 20, 20);
        border: 1px solid rgba(20, 20, 20);
        padding: 20px;
        color: #d3cee6;
        text-align: left;
        font-size: 17px;
        transition: all 0.3s;
    }

    .title2 {
        font-size: 5vh;
    }
}

@media (max-width: 590px) {
    .title2 {
        font-size: 4vh;
    }
}

.fadeIn {
    opacity: 0;
    transition: opacity .4s ease-in;
}
.active {
    opacity: 1;
}
.special {
    border: 1px dashed pink;
}

.links a {
    text-decoration: none;
    padding-right: 10px;         
}

/* Skill pills */
div.projectsList > div > div:nth-child(1) > ul {
    padding: 0;
    list-style-type: none;
}

div.projectsList > div > div:nth-child(1) > ul > li {
    list-style: none;
    border: 1px solid #5754C2;
    color: #5754C2;
    width: fit-content;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin: 4px 2px;
    font-weight: 700;
}

/* Contact bubble */

#contactBubbleLink {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 60px;
    margin: 35px;
    padding: 10px;
    box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.4);
    background: rgb(23, 23, 23); /* #5357C8 */
    border-radius: 50px;
    color: #d3cee6;
    text-decoration: none;
    transition: all 0.25s ease;
    border: 1px solid rgba(0, 0, 0, 0);
    z-index: 4;
}

#contactBubbleLink:hover {
    background: #1e1e21;
    border: 1px solid #5357C8;
    cursor: pointer;
}

#contactBubbleLink h3 {
    /* color: rgb(12, 12, 12); */
    margin-left: 48px;
    margin-top: 10px;
    font-weight: 600;
}

#contactBubbleLink img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    margin-left: 20px;
}

#contactBubbleLink.open {
    background-color: #1e1e21;
}

/* Contacts page */
#contactPage {
    transition: all 0.5s;
    z-index: 3;
    border-radius: 50px;
}
#contactPage.closed {
    width: 180px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 35px;
}

#contactPage.open {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: rgb(20, 20, 20);
    position: fixed;
    top: 0;
    left: 0;
    margin: 20px !important;
    /* margin: 0px; */
    /* border-radius: 0px; */
}

body.nonscrollable {
    overflow: hidden;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
} */
