@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    background: -webkit-linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
    background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
    background: rgb(12, 12, 12);
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

* {
    transition: all 0.3s;
}

.container {
    position:fixed;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

/* Project grid */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
}

.column div {
    margin-top: 8px;
    border-radius: 10px;
    vertical-align: middle;
    background: rgba(20, 20, 20);
    border: 1px solid rgba(20, 20, 20);
    padding: 20px;
    color: #d3cee6;
    text-align: left;
    font-size: 17px;
    transition: all 0.3s;
}

.column div:hover {
    cursor: pointer;
    background: #1e1e21;
}

.column div.selected {
    border: 1px solid #5357C8;
}

.column > div > img {
    height: 60px;
    position: absolute;
}

.column > div > h2, .column > div > p {
    margin: 0px;
    margin-left: 70px;
    margin-bottom: 5px;
}

/* Project list cards */
.projectsList {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    text-align: left;
}

div.projectsList > div > div:nth-child(2) > img {
    border-radius: 5px;
    width: 100%;
    /* margin: 0 auto; */
    /* height: 300px; */
    margin-top: 10px;
}

.projectsList > div {
    background: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    color: #d3cee6;
}

.projectsList div > div {
    display: block;
    margin-top: -10px;
    padding: 0px;
    flex: 50%;
}

.projectsList div > div:nth-child(1) {
    padding-right: 20px;
}

.projectsList a img {
    width: 40px;
}

.projectsList p a {
    text-decoration: none;
    color: #5753C6;
}

.projectsList .links {
    height: auto;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}


@media (max-width: 1200px) {
    .mainContent {
        width: 95%;
    }

    .title2 {
        font-size: 7vh;
    }
}

@media (max-width: 1000px) {
    

    .projectsList > div {
        flex-direction: column;
    }

    .projectsList h2 {
        margin-top: 7px;
    }
    
    .projectsList div > div:nth-child(1) {
        padding-right: 0px;
    }
    
    .projectsList a img {
        width: 35px;
        /* margin-right: 0px; */
    }

    .projectsList .links{
        text-align: right;
        /* border: 1px solid gray; */
        height: 35px;
        position: absolute;
        display: block;
        top: 0px;
        right: 0px;
        margin-top: 20px;
        margin-right: 12px;
        display: none;
    }
    
}


@media (max-width: 900px) {

    .row {
        width: 100%;

    }
    
    .column {
        display: block;
        width: 100%;
        min-width: 94vw !important;
        padding: 0 4px;
        /* height: 90px; */
    }
    
    .column div {
        margin-top: 8px;
        vertical-align: middle;
        padding: 10px;
        color: #d3cee6;
        text-align: left;
        font-size: 12px;
    }

    .column div img {
        height: 47px;
    }

    .column div h2, .column div p {
        margin-left: 56px;
    }

    .column div h2 {
        margin-top: 1px;
    }

    .column div p {
        font-size: 13px;
        margin-top: 6px;
    }

    .mainContent div.projectsList h2 {
        font-size: 19px;
    }

    div.projectsList > div > div > ul > li {
        font-size: 14px;
    }

    .title2 {
        font-size: 5vh;
    }
}

@media (max-width: 590px) {
    .title2 {
        font-size: 4vh;
    }
}

.fadeIn {
    opacity: 0;
    transition: opacity .4s ease-in;
}
.active {
    opacity: 1;
}
.special {
    border: 1px dashed pink;
}

.links a {
    text-decoration: none;
    padding-right: 10px;         
}

/* Skill pills */
div.projectsList > div > div:nth-child(1) > ul {
    padding: 0;
    list-style-type: none;
}

div.projectsList > div > div:nth-child(1) > ul > li {
    list-style: none;
    /* border: 1px solid #5754C2; */
    background-color: #1e1e1e;
    color: #6064AF;
    width: fit-content;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin: 4px 2px;
    font-weight: 700;
}

#contactPage div a {
    color: #6064AF;
    padding: 10px;
    border-radius: 50px;
    margin: 0 auto;
    text-decoration: none;
}


/* Navbar styles */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(23, 23, 23);
    color: #d3cee6;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    z-index: 5;
}

#navbar .brand {
    font-size: 3.5vh;
    font-weight: 600;
    color: transparent;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #a250c8 100%);
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    text-align: left;
    letter-spacing: -0.1vw;
    padding: 0px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar .links {
    display: flex;
    gap: 20px;
    padding: 0px 10px;
}

#navbar .links a {
    color: #d3cee6;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

#navbar .links a:hover {
    color: #a250c8;
}

@media (max-width: 900px) {
    #navbar {
        height: 100px;
    }

    #navbar .brand {
        font-size: 2vh;
    }

    #navbar .links {
        flex-direction: column;
        align-items: flex-end;
    }

    #navbar .links a {
        font-size: 1em;
    }
}

.title {
    font-size: 2.4vh;
    color: #d3cee6;
    width: -moz-fit-content;
    width: fit-content;
    margin: 4px;
    margin-bottom: 14px;
}

.mainContent h4 {
    color: #9996a5;
    margin: 4px;
}

.mainContent {
    text-align: left;
    display: block;
    width: 80%;
    min-width: 800px;
    max-width: 1280px;
    color: rgb(155, 154, 203);

    padding-top: 150px;
    height: calc(100vh - 150px);
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.mainContent.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 2;
}

.mainContent:not(.active) {
    pointer-events: none;
    height: 0px;
    overflow: hidden;
}

@media (max-width: 900px) {
    .mainContent {
        min-width: 0px;
        max-width: 100%;
    }
}




/* Experience */
.card {
    background: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    margin-bottom: 30px;
    color: #d3cee6;
    overflow: hidden;
}

.card-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

.card h3 {
    margin: 0;
    color: #d3cee6;
    margin-bottom: 5px;
}

.card p {
    margin: 4px 2px;
    color: #d3cee6;
}

.card ul {
    color: #d3cee6;
    list-style-type: disc;
    padding-left: 20px;
    line-height: 1.9;
    margin-bottom: 0px;
}

.card a {
    text-decoration: none;
    color: #d3cee6;
}

.card a:hover {
    text-decoration: underline;
}

.card a:visited {
    color: #d3cee6;
}

.company-logo {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 20px;
}



/* Publications */
.publicationsList .card {
    background: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    margin-bottom: 30px;
    color: #d3cee6;
    overflow: hidden;
}

.publicationsList .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    display: block; 
}

.publicationsList a:hover .card-title {
    text-decoration: underline;
}

.publicationsList .card p {
    margin: 4px 0;
    color: #d3cee6;
}

.publicationsList a .card {
    text-decoration: none;
    color: #d3cee6;
}

.publicationsList a {
    text-decoration: none;
    color: inherit; 
    display: block;
}

.publicationsList a:hover {
    text-decoration: none; 
}

.publicationsList a:visited {
    color: inherit; 
}


/* Contact */
.contactList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.contactList .card {
    background: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    color: #d3cee6;
    text-align: center;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.contactList .card:hover {
    transform: translateY(-5px);
}

.contactList .card img {
    border-radius: 0px;
    padding-bottom: 10px;
}

.contactList .card a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}