@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    width: 100%;
    height: 100%;
}


/* BODY */

* {
    font-family: "Raleway";
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 14px;
    background: #e3e9f0;
}

body::-webkit-scrollbar-thumb {
    background: #36394550;
    width: 100%;
}

body::-webkit-scrollbar-thumb:hover {
    background: #36394580;
}


/*CONTENT*/


/*HERO*/

.heroParent {
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background: white; */
}

@media all and (min-width: 800px) {
    .heroParent {
        min-height: 100vh;
    }
}

@media all and (max-width: 800px) {
    .heroParent {
        flex-direction: column;
        padding: 65px 5%;
    }
}

.heroBackgroundImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("images/planetsBlue.png");
    box-shadow: inset rgba(0, 0, 0, 0.55) 0 0 0 1000px;
    color: white;
}

.heroChild {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 800px) {
    .heroChild {
        width: 70%;
    }
}

@media all and (max-width: 600px) {
    .heroChild {
        width: 90%;
    }
}

.heroHeader {
    font-weight: 800;
    color: transparent;
    font-size: 120px;
    /* background-image: linear-gradient(43deg, #478dff 0%, #a250c8 46%, #FFCC70 100%); */
    color: white;
    background-size: 100%;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    text-align: center;
    line-height: 100%;
    letter-spacing: -8px;
    margin: 20px 0;
}

.heroText {
    font-size: 18px;
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
}

@media all and (max-width: 600px) {
    .heroText {
        width: 100%;
    }
}

.heroButton {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid #478dff;
    color: #478dff;
    background: none;
    margin: 20px 0;
    font-size: 40px;
    transition: all 0.2s;
}

.heroButton:hover {
    padding-top: 10px;
    transition: all 0.2s;
    cursor: pointer;
    border-color: #a250c8;
    color: #a250c8;
}


/* .title {
    font-weight: 800;
    color: transparent;
    font-size: 120px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #478dff 0%, #a250c8 46%, #FFCC70 100%);
    background-size: 100%;
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 90px;
    letter-spacing: -8px;
}

.container {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid #478dff;
    color: #478dff;
    background: none;
    margin-left: calc(50% - 25px) !important;
    margin-top: 100px;
    font-size: 40px;
    transition: all 0.2s;
}

.container button:hover {
    margin-top: 110px;
    transition: all 0.2s;
    cursor: pointer;
    border-color: #a250c8;
    color: #a250c8;
} */


/*BG TEXT*/

#backgroundText {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    color: #1a1a1a;
    height: 100vh;
    overflow: hidden;
}

#backgroundText h1 {
    margin: 0;
    white-space: nowrap;
    font-size: 200px;
    width: 200%;
    overflow-x: hidden;
    transition: all 0.3s ease;
    letter-spacing: 4px;
}


/**/


/* Flowfield background */
canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}